---
import CodeIcon from '../../icons/CodeIcon.astro';
import BakeryProjects from './BakeryProjects.astro';
import PersonalProjects from './PersonalProjects.astro';
import CloProjects from './CloProjects.astro';
---

<div class="flex flex-col justify-evenly items-start gap-3">
  <h1 class="text-2xl font-semibold flex gap-x-3 items-center">
    <CodeIcon class="size-7" />
    Proyectos
  </h1>
  <CloProjects />
  <BakeryProjects />
  <PersonalProjects />
</div>
