<header
  class="flex justify-center items-center w-full xl:w-[1120px] mx-auto py-3 px-2 sm:px-0"
>
  <nav
    class="flex flex-col items-center justify-evenly gap-y-2 sm:flex-row sm:justify-center sm:gap-x-4"
  >
    <a href="/portfolio">Inicio</a>
    <a href="/portfolio/#about">Sobre mí</a>
    <a href="/portfolio/#experience">Experiencia</a>
    <a href="/portfolio/projects">Proyectos</a>
    <a href="/portfolio/contact">Contacto</a>
  </nav>
</header>
